<div class="bg-white">
  <div class="container">
    <div class="row h-100 align-items-center py-5">
      <div class="col-xl-6 d-none d-lg-block pr-5"><img src="./assets/Images/service/office-pana.png" alt="" class="img-fluid mx-auto d-block" ></div>
      <div class="col-xl-6 pl-5">
        <h1 class="display-4">Work with CAN Infinity Assistance</h1>
        <br>
        <p class="lead mb-0">
          For nearly two decades, we’ve worked with South Africa’s most trusted brands to deliver excellent service to our customers.

          We’re proud of our work and we always strive to do more than what is asked. So, while our clients know us as an Emergency Assistance company, we think of ourselves as something more.

          If that sounds good to you — then we hope you’ll join us.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="mb-5 display-4 text-center">Where we can work together</h2>
    <div class="row pb-5">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <!-- Services Item-->
        <div class="card border-0 shadow rounded-lg py-4 text-center h-100">
          <div class="card-body p-5">
            <i class="fa fa-gears mb-3 customStyle" style="font-size: 3em;"></i>
            <h3 class="font-weight-normal h4 my-4">Service Provider</h3>
            <button class="btn btn-light px-5 rounded-pill shadow-sm mt-3 styleCustom">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <!-- Services Item-->
        <div class="card border-0 shadow rounded-lg py-4 text-center h-100">
          <div class="card-body p-5">
            <i class="fa fa-car mb-3 customStyle" style="font-size: 3em;"></i>
            <h3 class="font-weight-normal h4 my-4">Broker</h3>
            <button class="btn btn-light px-5 rounded-pill shadow-sm mt-3 styleCustom">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- Services Item-->
        <div class="card border-0 shadow rounded-lg py-4 text-center h-100">
          <div class="card-body p-5">
            <i class="fa fa-users mb-3 customStyle" style="font-size: 3em;"></i>
            <h3 class="font-weight-normal h4 my-4">Intermediary Broker</h3>
            <button class="btn btn-light px-5 rounded-pill shadow-sm mt-3 styleCustom">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
