accordion-group {
  ::ng-deep {
    max-width: 100%;
    div {
      border: none;
      border-radius: 0px;
      & > div.panel-heading.card-header.panel-enabled {
        background-color: rgba(250, 250, 250, 0.15); // change the background of every accordion heading
        .btn-link {
          color: rgb(6, 10, 9); // change the accordion heading buttons style
        }
      }

      & > div.panel-collapse.collapse.in.show > div {
        background-color: rgba(250, 250, 250, 0.15); // change the expanded content style

      }
    }
  }
}
