.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #ff7400;
  background: #fff;
}

.animated-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  display: inline-block;
  text-align: center;
  background: #ff9900;
  position: absolute;
  z-index: 101;
}

.customPlacement {
  margin-left: -260px;
  margin-top: 270px;
}

.animated-btn::before, .animated-btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(255, 162, 63, 0.71);
  animation: ripple-1 2s infinite ease-in-out;
  z-index: -1;
}

@keyframes ripple-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.custom {
  border: none;
  margin-top: 600px;
}

.customStyle {
  color: #ff8b00;
}

.form-box{
  height: 330px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #e2e2e2;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-image: linear-gradient(to top, #ffac00 0%, #ff8b00 100%);
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.styleCustom {
  background-image: linear-gradient(to right, #ffac00 0%, #ff8b00 100%);
  color: #ffffff;

  &:hover {
    background-image: linear-gradient(to right, #e39a00 0%, #e87e00 100%);
    transition: 0.5s ease;
  }
}
