<div class="bg-white">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-xl-6 d-none d-lg-block pr-5"><img src="./assets/Images/broker/network.jpg" alt="" class="img-fluid mx-auto d-block" ></div>
      <div class="col-xl-6 pl-5">
        <h1 class="display-4">Keen to become part of our network?</h1>
        <br>
        <h4>You should be.</h4>
        <br>
        <p class="lead mb-0">
          Our goal is to assist your clients with the highest level of professionalism to resolve any emergency they might encounter. It is our mission to provide the best emergency services. Our services are available nationwide with a dedicated team on standby 24/7, 365.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 pr-5">
        <h1 class="display-4">Pothole Assistance</h1>
        <br>
        <p class="lead text-muted mb-0">In the event of an incident, the cost to replace your client’s tyre and or rim will be covered.

          When an incident occurs, if there your client doesn’t have a spare wheel available, their vehicle will be uplifted. If 2 or more wheels were damaged, they will be taken to the nearest repair centre.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="./assets/Images/broker/pothole.png" alt="" class="img-fluid mx-auto d-block"></div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 pr-3 d-none d-lg-block"><img style="max-height: 500px" src="./assets/Images/broker/ride.png" alt="" class="img-fluid mx-auto d-block"></div>
      <div class="col-lg-6 pl-5">
        <h1 class="display-4">CAN’s 'Take Me Home' Service</h1>
        <br>
        <p class="lead text-muted mb-0">We offer peer-to-peer ride-sharing services to your clientele – similar to that of Uber, but  much more affordable.</p>
        <div class="row mt-5">
          <div class="col-lg-6 col-sm-6 mb-4">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2">
              <div class="card-body px py-5">
                <i class="fa fa-users mb-3 customStyle" style="font-size: 2em;"></i>
                <p class="lead mb-0 text-muted">Clients Up to 3 additional passengers to one drop-off address.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 mb-4">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2">
              <div class="card-body px py-5">
                <i class="fa fa-clock-o mb-3 customStyle" style="font-size: 2em;"></i>
                <p class="lead mb-0 text-muted">Service hours for taking bookings are open 24 hours, every day of the week.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 pr-5">
        <h1 class="display-4">Geyser and Burst Pipe Assist</h1>
        <br>
        <p class="lead text-muted mb-0">Your clients will be covered on any pipe per incident, including accommodation for electrical failure, burst geyser pipes, valves and more. We also include a call out & labour cost.</p>
        <div class="row mt-5">
          <div class="col-lg-6 col-sm-6 mb-4">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2 h-100">
              <div class="card-body px py-5" style="">
                <i class="fa fa-money mb-3 customStyle" style="font-size: 2em;"></i>
                <p class="lead mb-0 text-muted">The service provider’s account is settled on behalf of your client.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 mb-4">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2 h-100">
              <div class="card-body px py-5 h-100">
                <i class="fa fa-calendar mb-3 customStyle" style="font-size: 2em;"></i>
                <p class="lead mb-0 text-muted">With every incident, your client further receives a 6 months workmanship guarantee on work done on the premises.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img style="max-height: 500px" src="./assets/Images/broker/plumber.png" alt="" class="img-fluid mx-auto d-block"></div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 d-none d-lg-block"><img style="max-height: 500px" src="./assets/Images/broker/mechanic.png" alt="" class="img-fluid mx-auto d-block"></div>
      <div class="col-lg-6 pl-5">
        <h1 class="display-4">Minor Collision and Dent Repair</h1>
        <br>
        <p class="lead text-muted mb-0">With each incident your client is covered where the damages/losses fall within their excess amount, as indicated by their insurer, per incident.</p>
        <div class="row mt-5">
          <div class="col-lg-6 col-sm-6 mb-4">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2 h-100">
              <div class="card-body px py-5">
                <i class="fa fa-home mb-3 customStyle" style="font-size: 2em;"></i>
                <p class="lead mb-0 text-muted">We can repair your client’s vehicle at their home or office depending on the type of damage, or the vehicle can even be collected and returned after the repair service.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 mb-4">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2 h-100">
              <div class="card-body px py-5">
                <i class="fa fa-camera mb-3 customStyle" style="font-size: 2em;"></i>
                <p class="lead mb-0 text-muted">Your client simply has to take a photo of the affected area, send it through to their allocated CAN adviser and a quote will be finalised shortly.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 pr-5">
        <h1 class="display-4">Battery and Tyre Loyalty Program</h1>
        <br>
        <p class="lead text-muted mb-0">Should your clients be in need of a new battery or new tyres, we’ve made that a possibility through our business: we’ve created a one stop, emergency CAN shop. </p>
        <div class="row mt-5">
          <div class="col-lg-6 col-sm-6 mb-4">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2 h-100">
              <div class="card-body px py-5">
                <i class="fa fa-retweet mb-3 customStyle" style="font-size: 2em;"></i>
                <p class="lead mb-0 text-muted">Simply refer your client to make the purchase through our online store.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 mb-4">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2 h-100">
              <div class="card-body px py-5">
                <i class="fa fa-battery-2 mb-3 customStyle" style="font-size: 2em;"></i>
                <p class="lead mb-0 text-muted">Tyres and batteries are supplied by Goodyear through any of their Trentyre branches nationwide.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="./assets/Images/broker/tires.png" alt="" class="img-fluid mx-auto d-block" style="max-height: 500px"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container p-5">
    <h1 class="display-4 text-center">Become a Broker</h1>
    <h2 class="text-center mt-3">We appreciate your interest in CAN Infinity</h2>
    <div class="row h-100 align-items-center py-5 mt-5">
      <div class="col-lg-6 pr-5 d-none d-lg-block"><img src="./assets/Images/broker/mail.png" alt="" class="img-fluid"></div>
      <div class="col-lg-6 form-box">
        <form class="form-group" [formGroup]="brokerForm" (ngSubmit)="onSubmit()">
          <div class="p-2 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input formControlName="name" type="text" placeholder="What's your name?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
              <div class="input-group-append">
                <button type="submit" class="btn btn-link text-primary"><i class="fa fa-user" style="color: #ff8b00"></i></button>
              </div>
            </div>
          </div>

          <div class="p-2 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input formControlName="email" type="text" placeholder="What's your email?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
              <div class="input-group-append">
                <button type="submit" class="btn btn-link text-primary"><i class="fa fa-envelope" style="color: #ff8b00"></i></button>
              </div>
            </div>
          </div>

          <div class="p-2 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input formControlName="phoneNumber" type="text" placeholder="What's your number?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
              <div class="input-group-append">
                <button type="submit" class="btn btn-link text-primary"><i class="fa fa-phone" style="color: #ff8b00"></i></button>
              </div>
            </div>
          </div>

          <div class="p-2 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input formControlName="phoneNumber" type="text" placeholder="What's your number?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
              <div class="input-group-append">
                <button type="submit" class="btn btn-link text-primary"><i class="fa fa-phone" style="color: #ff8b00"></i></button>
              </div>
            </div>
          </div>

          <div class="p-2 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input formControlName="provider" type="text" placeholder="Who provides you with assistance services?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
              <div class="input-group-append">
                <button type="submit" class="btn btn-link text-primary"><i class="fa fa-cab" style="color: #ff8b00"></i></button>
              </div>
            </div>
          </div>
          <!-- Upload image input-->
          <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <input id="upload" type="file" (change)="uploadFile($event)" class="form-control border-0">
            <label id="upload-label" for="upload" class="font-weight-light text-muted">Supporting Documentation</label>
            <div class="input-group-append">
              <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
            </div>
          </div>

          <button class="btn btn-light px-5 rounded-pill shadow-sm mt-3 styleCustom" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>



